<div class="banner">
    <h1>Node Authenticate with JSON Web Tokens(JWT).</h1>
    <p> <span> -> </span> Developed by <span> RAGNAR </span></p>
    <button><a href="/profile">How do i start?</a></button>
</div>