<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/login.css">
    <title>Login User</title>
</head>
<body>
    <div class="container">
        <div class="login">
            <h1>Login Form</h1>
            <form class="loginForm" >
                <div class="error">Please enter a valid password</div>
                <input type="text" name="email" placeholder="Email or Username">
                <input type="password" name="password" placeholder="Password">
                <button onsubmit="" >Sign In</button>
            </form>
        </div>
    </div>
    {{> submit}}
</body>
</html>